# Next auth https://next-auth.js.org/configuration/options
# Run this command to generate a a new NEXTAUTH_SECRET
# $ openssl rand -base64 32

NEXTAUTH_URL=http://localhost:3000/

NEXTAUTH_SECRET=L7Sgutzmst1oeKmwDn6Zge5qdmsZ5u4Eraky58VqtQg=

# Go to github and setup the oauth configuration
# https://next-auth.js.org/providers/github#configuration
# https://github.com/settings/developers

GITHUB_ID = 
GITHUB_SECRET = 


BASE_URL = "http://localhost:3000"
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_BASE_URL2=http://localhost:3004
NEXT_PUBLIC_DEFAULT_IMG_URL = 'https://hrapi.transporindo.com/uploads/default-image.png'
NEXT_PUBLIC_IMG_URL='https://hrapi.transporindo.com/uploads/'
NEXT_PUBLIC_WAJIB_DIISI='WAJIB DIISI'
NEXT_PUBLIC_VERSION='0.1.0'
MAINTENANCE_MODE="false"
NODE_ENV="development"


NEXT_PUBLIC_REPORT_CONFIG_PATH=/config/report-config.json